[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gamstransfer"]
	path = gamstransfer
	url = https://github.com/gams-dev/transfer-r
	subdir = gamstransfer
